Django==1.6
Markdown==2.4.1
PyYAML==3.11
South==1.0
argparse==1.2.1
coverage==3.7.1
coveralls==0.4.2
dj-database-url==0.3.0
dj-static==0.0.6
django-admin-bootstrapped==1.6.6
django-allauth==0.17.0
django-markupfield==1.0.2
django-pingback==0.3
django-session-idle-timeout==1.4.2
django-social-auth==0.7.28
django-tagging==0.3.2
django-taggit==0.12
django-toolbelt==0.0.1
django-xmlrpc==0.1.4
docopt==0.6.2
docutils==0.12
-e git://github.com/montylounge/django-google-analytics.git@6b7aa6dba851dd59dca0a20bc7eefe70754384e4#egg=google_analytics-master
gunicorn==19.1.0
haystack==0.15
httplib2==0.9
ipdb==0.8
ipython==2.1.0
oauth2==1.5.211
oauthlib==0.6.3
pep8==1.4.6
psycopg2==2.5.3
pyflakes==0.8.1
python-openid==2.2.5
python-ptrace==0.7
pytz==2014.4
requests==2.3.0
requests-oauthlib==0.4.1
static3==0.5.1
textile==2.1.8
travis==0.0.2
wsgiref==0.1.2
