<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head> <title>{% block title %}Welcome to MyBlog{% endblock %}</title> </head>

<body>
    <div id="sidebar"> {% block sidebar %} {% endblock %} </div>
    <div id="container">
        <div id="menu">
            {% block nav-global %}

                <!-- MENU -->
                <h3>MyBlog</h3>
                {% if user.is_staff %}
                <a href="{% url 'admin:index' %}">Admin</a>
                <a href="{% url 'admin:blog_post_add' %}">Add post</a>
                {% endif %}
        <br>
		<!-- HEADER STARTS HERE -->
        <div id="header">
	  
	        <h2 class="message" align="right" >
		        I love designing and developing websites,<br>but what really drives me is
		        solving problems<br>and cultivating strong relationships with my code. 
	        </h2>
	    </div>
    <!-- HEADER ENDS HERE -->

            {% endblock %}
        </div>

        <div id="content">
            {% block content %}{% endblock %}
        </div>
    </div>

</body>
</html>
