{% load staticfiles %}

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head> <title>{% block title %}
BlogAsh | Home{% endblock %}</title> 
<link rel="icon" type="image/png" href="{{STATIC_URL}}images/yashwanth.jpg"></link>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js" type="text/javascript"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

<script type="text/javascript">
//     $(document).ready(function(){
//         setTimeout(function(){
//             $('.messages').fadeOut('slow');
//         }, 3000);
//     });
// </script>
<script type="text/javascript">
    // window.onload = function() {
        // document.getElementById("popup").onclick = function(){
            // return !window.open(this.href, "pop", "width=700,height=600");
            // window.parent.reload();
            // window.close();
        // 
        // }
    // }
</script>



<script>
    $(document).ready(function() {
        $('#popover').popover({
            trigger: "hover",
            placement: "top",
            title: "This is a default title",
            'html'=true;
            });
        });
  </script>
  <script>
  $(document).ready(function(){
    ("#fade").popup({
        transition: 'all 0.3s'
    });
  });
  </script>

</head>
    <center>
        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                <font color="red">{{ message }}</font>
                {% endfor %}
            </div>
        {% endif %}
    </center>


<body><br>

     <div class="container">
        <div class="header">
            <div class="navbar navbar-default" role="navigation">
                <div class="navbar-inner" style="margin-top: 20px;">
                    <div class="container">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="{% url 'main' %}"><h1 style="margin-top: -15px; margin-bottom: 100px; border-bottom-width: 1px; margin-left: 25px;">BlogAsh</h1></a>
                        </div>
                        <center>
                        {% if request.user and not request.user.is_anonymous %}

                                   <font color="black" size="3">Welcome {{ request.user.get_full_name|default:request.user.username }}</font>
                              
                                {% endif %}
                        <div class="nav navbar-nav navbar-right">
                        <div class="panel-heading">
                            <div class="btn-group pull-right" style="margin-right:50px;">
                                <a href="{% url 'main' %}" class="btn btn-default btn-sm"> HOME </a>
                                {% if user.is_staff %}
                                <a href="{% url 'admin:index' %}" class="btn btn-default btn-sm">ADMIN</a>
                                <a href="{% url 'admin:blog_post_add' %}" class="btn btn-default btn-sm">ADD POST</a>
                                {% endif %}
                                
                                {% if request.user and not request.user.is_anonymous %}
                                <a href="{% url 'auth:logout' %}" class="btn btn-default btn-sm"> LOGOUT</a> &nbsp;
                                {% else %}
                                    <a href="{% url 'login' %}" class="btn btn-default btn-sm"> USER LOGIN</a>
                                {% endif %}
                            </div>
      <div class="clearfix"></div>
   </div>
                            
                        </div>
                    </div>
                </div>
           </div>
        </div>
    </div>
<br>


<div class="row">
    <div class=".col-md-8">
        <div id="content" style="width:1000px; float:left;"> 
        <ul style="border-left-width: 0px; margin-left: 40px;">
            {% block content %}{% endblock %}</ul>
        </div>
    </div>

    <div class=".col-md-4">
            <ul style="background-color: #f5f5f5; margin-left:1050px; margin-right: 165px;">
                <font color="brown" style="margin-left:50px;">ARCHIVES</font><br><br>
            {% for month in months %}
                &gt; <a href="{% url 'year' month.0 %}" class="{% cycle 'left' 'right' %}"><font size="3" style="margin-left:5px;">{{ month.0 }}</font> <br></a>
                <a href="{% url 'month' month.0 month.1 %}" class="{% cycle 'left' 'right' %}"><font size="3" style="margin-left: 25px;">{{ month.2 }}</font> <br></a>
                <a href="{% url 'month' month.0 month.1 %}" class="{% cycle 'left' 'right' %}"><font size="3" style="margin-left: 40px;">{{ month.2 }} {{ month.1 }} </font> <br></a>
            
            {% endfor %}
        </ul><br>

        <ul style="background-color: #f5f5f5; margin-left:1050px; margin-right: 165px;">
                <font color="brown" style="margin-left:30px;">RECENT ARTICLES</font><br><br>
                {% if post_two %}
                {% for post in post_two %}
                <a href="{% url 'post' post.id %}">
                    <font size="3" style="margin-left: 30px;">{{ post.title }} </font><br></a>
                {% endfor %}
            {% endif %}
        </ul><br>

        <ul style="background-color: #f5f5f5; margin-left:1050px; margin-right: 165px;">
                <font color="brown" style="margin-left:30px;">TAGS</font><br><br>
             {% if tags %}
                {% for tag in tags %}
                <a href="{% url 'tag_details' tag.slug %}">
                    <font size="3" style="margin-left: 75px;">{{ tag }} </font><br></a>
                {% endfor %}
            {% endif %}

        </ul><br>        

    </div>
</div>


</body>
</html>
