{% load staticfiles %}

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head> <title>{% block title %}Welcome to MyBlog{% endblock %}</title> 
<link href="{% static 'css/sk.css' %}" rel="stylesheet" type="text/css">
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js"></script>
</head>
<body>

    
    <div id="container">
        <div id="menu">
            {% block nav-global %}

                <!-- MENU -->
                {% if user.is_staff %}
                <a href="{% url 'admin:index' %}">Admin</a>
                <a href="{% url 'admin:blog_post_add' %}">Add post</a>
                <a href="{% url 'admin:blog_comment_add' %}"> Add Comment </a>
                {% endif %} 
	<!-- HEADER STARTS HERE -->
                
        <br>
		<!-- HEADER STARTS HERE -->
        <!-- HEADER STARTS HERE -->
          <div id="header">
	  <a href="{% url 'main' %}">
		<img src="{% static 'images/blog.png' %}" width="206" height="67" alt="Agiliq Solutions" />
	  </a>
	  </div>
    <!-- HEADER ENDS HERE -->
    	<div id="header" align="right">
            <a href="{% url 'main' %}">HOME</a>
            |<a href="{% url 'recentposts' %}">RECENT ARTICLES</a> 
            |<a href="{% url 'login' %}">USER LOGIN</a>
        </div>
        </div>
        <div id="sidebar" align="center"> {% block sidebar %} 

        <br><u>MONTHLY ARCHIVES</u><br />
        {% for month in months %}
            <a href="{% url 'month' month.0 month.1 %}" class="{% cycle 'left' 'right' %}">{{ month.2 }} - {{ month.0 }} </a> <br />
        
        {% endfor %}
    
    {% endblock %} </div>

        <div id="content">
            {% block content %}{% endblock %}
        </div>
    </div>
{% endblock %}


</body>
</html>
