{% extends "base.html" %}
{% load staticfiles %}
    <style type="text/css">
        #sidebar { float: right; border: 1px dotted #ccc; padding: 4px; align:right; color:green}
    </style>
    
	{% block content %}

    	    {% for post in posts.object_list %}
   
	            <div class="title">
	           		<h1><a href="{% url 'post' post.id %}" style="margin-left: 45px;">{{ post.title }}</a></h1><hr>   
	            </div>

    	        {% if post.author.username %}
				<div class="user" style="margin-left: 45px;"> 
					<h5>Written By: <a href="{%url 'author' post.author.username %}"> {{ post.author }} </a></h5> {{ post.created }}</div><br>
				{% endif %}
                <div class="body" style="margin-left: 45px;">
					{{ post.body|truncatewords_html:20|linebreaks }}
				</div>
		    	<div class="commentlink">
		    		<a href="{% url 'post' post.id %}" style="margin-left: 45px;"> Continue reading ⇒ </a>
		    	</div><br>
                Discussions: <a href="{% url 'post' post.id %}#comments"> {{ post.comment_set.count }} comments</a>

                {% empty %}
                    No Blog posts are available yet.

            {% endfor %}
        <!-- Next/Prev page links  -->
        {% if not archive and posts.object_list and posts.paginator.num_pages > 1 %}
        	<div class="pagination">
            	<span class="step-links">
                    <ul>
                		{% if posts.has_previous %}
                    		<a href= "?page={{ posts.previous_page_number }}"><input type="submit" value="PREVIOUS" class="btn btn-error"></a>
                		{% endif %}

                		<span class="current">
                    		
                		</span>

                		{% if posts.has_next %}
                    		<a href="?page={{ posts.next_page_number }}"> <input type="submit" value="NEXT" class="btn btn-error"></a>
                		{% endif %} <br> <br>
                    </ul> 
            	</span>
        	</div>
        {% endif %}<br><br>


{% endblock %}
