{% extends "base.html" %}



<center>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
</center>
{% block content %}
<center>
<h2><br>

<a href="{% url 'socialauth_begin' 'google-oauth2'  %}"> Login using Google {{ socialauth_user }}</a><br>

<a href="{% url 'socialauth_begin' 'facebook' %}"> Login using Facebook</a> <br />

<a href="{% url 'socialauth_begin' 'twitter' %}"> Login using Twitter </a><br>
</h2>
</center>

{% endblock %}