{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
	BlogAsh | {{ post.title }} 
{% endblock %}


{% block content %}

<div id="fb-root">
</div>
	<script>(function(d, s, id)
	{
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) 
			return;
		js = d.createElement(s); 
		js.id = id;
		js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=559235774199929&version=v2.0";
		fjs.parentNode.insertBefore(js, fjs);
	}
		(document, 'script', 'facebook-jssdk'));
	</script>

	<script>!function(d,s,id)
	{
		var js,fjs=d.getElementsByTagName(s)[0];
		if(!d.getElementById(id))
			{
				js=d.createElement(s);
				js.id=id;
				js.src="https://platform.twitter.com/widgets.js";
				fjs.parentNode.insertBefore(js,fjs);
			}
	}
	(document,"script","twitter-wjs");
	</script>

    <ul>            
    	<div class="title"><a href="{% url 'post' post.id %}"><h1 style="margin-left: 45px;">{{ post.title }}</h1><hr></a>
    	</div>
			<div class="user" style="margin-left: 45px;"><h5>Written By: <a href="{% url 'author' post.author.username %}"> {{ post.author }}</h5> </a>
			</div>
			<div class="user"><a href="https://about.me/yashwanthbabu" target="_blank"> </a>
			</div>
			<div class="time" style="margin-left: 45px;">{{ post.created}}
			</div><br>
			<ul>
				<div class="body" style="margin-left: 45px;">{{ post.body|linebreaks }}
				</div>
			
					{% for tag in post.tags.all %}
					<div class="tags">
						{% if forloop.first %}Tags : {% endif %}
		    				<a href= "{% url 'tag_details' tag.slug %}">
		    				<font size="4" color="brown">{{ tag.name }}  </font></a>			    		
			    			{% empty %}
								No Tags are available for this post
					</div>
							{% endfor %}
					<br/> 

					<br><br>
					
					<div class="user">
						<div class="fb-like" data-href="http://127.0.0.1:8000/blog/" data-layout="standard" data-action="like" data-show-faces="true" data-share="true">
							
						</div>
					</div><br>

					<div class="user">
						<a href="https://twitter.com/share" class="twitter-share-button" data-lang="en">Tweet</a>
					</div> <br>
                
                	<!-- Go to www.addthis.com/dashboard to customize your tools -->
					<div class="user">
						<div class="addthis_native_toolbox">
							
						</div>
					</div>
			
			<!-- Comments Form  -->
		
			<form action="{% url 'delete_comment' post.id %}" method="POST">{% csrf_token %}

				{% if comments %}
    				<h3 id="comments"><font color="brown">Comments:</font></h3>
				{% endif %}
				
				{% for comment in comments %}
            	  	<a name="comment-{{ comment.pk }}"></a>
    				<div id="comment.id" class="comment" style="border: 1px solid;">
    				    <div class="body" style="margin-left: 20px;"><h4>{{ comment.body }}</h4></div>
        				<div class="time" style="margin-left: 20px;">By: <font color="brown">{{ comment.name }}</font> on {{ comment.created }}
        				</div>
						{% if user.is_staff %}
		               		<input type="checkbox" name="delete" value="{{ comment.pk }}" style="margin-left: 20px;">
            				<a href="{% url 'delete_single_comment' post.pk comment.pk %}">delete</a>
        				{% endif %}
    				</div><br>

				{% endfor %} 
			
				{% if user.is_staff and comments %}
    				<div class="form-group row">
            			<div class="col-sm-5">
            				<input type="submit" value="Delete all selected" class="btn btn-danger" />
            			</div>
        			</div>
    				<br />
				{% endif %}
	
			</form>
					<!-- Comment form ends here -->

	    </ul>
	</ul><br>


    
    <ul>	
		<fieldset>
		<legend style="margin-left: 45px;"> Add a Comment </legend>
		
		<ul>
    
    {% if form.errors %}
    <div class="text-danger">Please correct the error{{ form.errors|pluralize }} below.</div>
    {% endif %}
    <div class="col-sm-4">
    <form id="ajaxform" action="{% url 'add_comment' post.id %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        {% if request.user and not request.user.is_anonymous %}
        <p id="sendwrapper"><input type="submit" value="Comment" class="btn btn-warning"></p> &nbsp;
        {% else %}
        <a href="{% url 'login' %}" class="btn btn-warning"> Please Login to Comment</a>
        {% endif %}
       
       
        
        </form></div>
        </ul>
        </fieldset> 
        
    
</ul>
			 <br>
			
				
		
	</ul>


	


{% endblock %}
