{% extends "base.html" %}

{% block content %}


	<div class="blog"> 
	
		<!-- Messages  -->
	        {% if messages %}
	        <ul class="messages">
	            {% for message in messages %}
	            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
	            {% endfor %}
	        </ul>
	        {% endif %}

   
		<!-- Posts  -->
	        <ul>            
                	<div class="title"><a href="{% url 'post' post.id %}">{{ post.title }}</div><br>
			<div class="user">By: <a href="{%url 'aboutme' %}"> {{ post.user }} </a></div>
	                <ul>
				<div class="time">{{ post.created}}</div>
				<div class="body">{{ post.body|linebreaks }}</div>
			</ul>
            
	        </ul>

		<!-- Comments  -->
		<ul>
		<form action="{% url 'delete_comment' post.id %}" method="POST">{% csrf_token %}

		{% if comments %}
    			<p>Comments:</p>
		{% endif %}
				
		{% for comment in comments %}
    			<div class="comment">
        			<div class="time">{{ comment.created }} | {{ comment.author }}</div>
        			<div class="body">{{ comment.body }}  </div>

				{% if user.is_staff %}
		                	<input type="checkbox" name="delete" value="{{ comment.pk }}">
            				<a href="{% url 'delete_comment' post.pk comment.id %}">delete</a>
        			{% endif %}
    			</div>
		{% endfor %} 
		{% if user.is_staff and comments %}
    			<p><input type="submit" value="Delete all selected" class="required"></p>
    			<br />
		{% endif %}
		</form>
	
		</div>
	
		<fieldset>
		<legend> Add a Comment </legend>
		
		<ul>
		<!-- Comment form  -->
			<form action="{% url 'add_comment' post.id %}" id="myform4" method="POST">{% csrf_token %}
    				<div id="cform">
        				Name:<br>{{ form.author }}<br><br>
					Email:<br> {{ form.email }}<br><br> 
					Comment:
        				{{ form.body }}
					
    				</div>
    				<br><div id="submit"><input type="submit" value="Comment"></div>
			</form> <br>
			
				
		</ul>
		</fieldset>
	</ul>
	</div>

{% endblock %}
