{% extends "base.html" %}

{% block title %}
	BlogAsh | RecentPosts
{% endblock %}

{% block content %}
<ul>
<h1><u style="margin-left: 45px;">Recent Articles</u></h1>
{% if form.errors %}
    <p style="color: red;">
        Please correct the error{{ form.errors|pluralize }} below.
    </p>
{% endif %}

{% if posts %}
    {% for post in posts|slice:":4" %}
		<ul>
			<h3>
			<div class="title"><a href="{% url 'post' post.id %}" style="margin-left: 45px;">{{ post.title }}</a></div>
			</h3>
		</ul>
		
                
    {% endfor %}
{% endif %}
</ul>

{% endblock %}
