{% extends "base.html" %}

{% block content %}
<h1><u>Recent Articles</u></h1>
{% if form.errors %}
    <p style="color: red;">
        Please correct the error{{ form.errors|pluralize }} below.
    </p>
{% endif %}

{% if posts %}
    {% for post in posts %}
		<ul>
			<div class="title">{{ post.title }}</div><br>	
			<div class="user">By: <a href="{%url 'aboutme' %}"> {{ post.user }} </a></div>
                	<ul>
                	    <div class="time">{{ post.created|linebreaks}}</div>
                	    <div class="body">{{ post.body|truncatewords_html:20|linebreaks }}</div>
			    <div class="commentlink"><a href="{% url 'post' post.id %}"> more info..>></a></div><br>
			</ul>
                </ul>
		
                
    {% endfor %}
{% endif %}

{% endblock %}
