.main { margin-left: 25px; margin-top: 30px; }
        .time { font-size: 0.8em; margin-top: 2px; }
        .comment { border: 1px solid #eee; padding: 4px; margin-bottom: 12px; }
        .body { font-size: 1.1em; margin-top: 2px; background-image:url('images/img2.jpeg'); }
        .messages { margin-left: 20px; }
        .title { font-size: 1.4em; margin-top: 20px; border-bottom: 1px solid #ccc; padding-left: 4px; }

        #addc { width: 508px; background: pink; padding: 3px; padding-bottom: 8px;
            border-bottom: 1px dotted #aaa;
            }
        #cform { width: 300px; padding: 8px; padding-bottom: 0px; }
	fieldset{ width:300px;}
        #submit { float: right; margin-right: 50px; width: 500px; margin-top: -5px; }

        ul { margin-bottom: 30px; }
ul{
	margin: 30px;
	padding: 0;
	border: 0;
	outline: 30px;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
#sendwrapper{ float:right; padding:3px; }
h2{font:bold 15px Helvetica, Arial, sans-serif; line-height:40px;}
h2.message{color: brown; text-align: right; font-style:italic; font:bold;}
h2{color:red;}
body{background:url(../images/image.jpeg); color: black;}
a{color: green; }
 #sidebar { float: right; border: 1px dotted #ccc; padding: 4px; text-align:center; color:green}
 .col-sm-8 { color: red ;}
 .text-danger { color: red;}
 .form-group {color:red;}
 #color { color:black;}

