
<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6 lt8"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7 lt8"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8 lt8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
{% load staticfiles %}
<head>
  <title>Agiliq | Registration form</title>
  <link href="https://jobhuk.s3.amazonaws.com/assets/neon/neon-23e885954cef25699cc9775207b44378.css" media="screen" rel="stylesheet" type="text/css" />
<link href='https://fonts.googleapis.com/css?family=Lato:400,700,400italic' rel='stylesheet' type='text/css'>
<script src="https://jobhuk.s3.amazonaws.com/assets/neon/neon-a3d832730fc8438ae1dbc4aee79e94f2.js" type="text/javascript"></script>
<link href="https://jobhuk.s3.amazonaws.com/assets/appnew/application-5bcf12223fa10dd82085f51af8960f2e.css" media="screen" rel="stylesheet" type="text/css" />
<link href="%{ static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css">
<script src="{{ STATIC_URL }js/bootstrap.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js" type="text/javascript"></script>
<script src="/assets/application-0d51cff6a15ce2b19a34e3c0515aff4d.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js" type="text/javascript"></script>
<script src="/assets/application-0d51cff6a15ce2b19a34e3c0515aff4d.js"></script>
  <!--End base head-->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.8/jquery.validate.min.js"></script>

  <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/bootstrap/3.2.0/css/bootstrap.min.css"/>
<style>
#login-form label.error {
    font-size: 12px;
    color: red;
}
</style>
  <script>
  $(document).ready(function(){

             $('#login-form').validate(
             {
              rules: {
                username: {
                  required: true,
                },
                password: {
                  minlength: 4,
                  required: true
                }
              },
              highlight: function(element) {
                $(element).closest('.required').removeClass('success').addClass('error');
                $('.error').css('color', 'red', 'font-size', '10px');
              },
              success: function(element) {
                element
                .text('').addClass('valid')
                .closest('.required').removeClass('error').addClass('success');
              }
             });
            }); // end document.ready
        </script>

<script type="text/javascript">
    window.onload = function() {
        document.getElementById("popup").onclick = function(){
            return !window.open(this.href, "pop", "width=700,height=600");
            window.parent.reload();
            window.close();
        
        }
    }
</script>
        
</head>
{% block content %}
<body class="page-body">
<!--base body-->
  <!--layout content-->

  <div class="page-body">
    <!--page-->
    <div class="row main-content">
      <div class="static-container">
        <div id="flash-message" style="margin-top:5px"></div>
        <div class="email_confirmation_box">
        <div align="right">
        <header><br><br>
        <a href="{% url 'main' %}"><font size="5"> &lsaquo; Agiliq Blog</font></a></header></div>
        <header><center>
        <h1> Agiliq Login Form </h1><br></center>
        </header>

  <script>
    //  $.cookie('confirm_close', null);
    console.log($.cookie('confirm_close'));
    $('.confirm_close').click(function () {
      $.cookie('confirm_close', true, { expires: 1, path: '/' });
      console.log($.cookie('confirm_close'));
    });

    if ($.cookie('confirm_close')) {
      $('.email_confirmation_box').remove();
    }
  </script>

</div>
        <div class="">
  <div id="login-wrapper">
    <div class="content-box background-box">
      <div class="row">
        <h1>Log in</h1>

        <div class="social_logins">
          <a href="{% url 'socialauth_begin' 'facebook' %}" class="sl_icon_facebook">
            <i class="fa fa-facebook"></i>        
</a>
          <a href="{% url 'socialauth_begin' 'twitter' %}" class="sl_icon_twitter">
            <i class="fa fa-twitter"></i>
</a>
          <a href="{% url 'socialauth_begin' 'google-oauth2' %}" class="sl_icon_google_plus">
            <i class="fa fa-google-plus"></i>
</a>        </div>
      </div>

      <div id="content" class="colM">
        

        
        
        

        

<style> 
 .textbox { 
    border: 3px #000000; 
    outline:4; 
    height:200px; 
    width: 275px; 
  } 
  div #color {color:red;}
</style> 
<div id="color">
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}</div>

<form class="form-signin form-horizontal" action="{% url 'loginuser' %}" method="post" id="login-form">
{% csrf_token %}  
  <center>
        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}><font color="red">{{ message }}</font></li>
                {% endfor %}
            </div>
        {% endif %}
    </center>
  <div class="form-group">
              <label class="col-sm-4 control-label" for="user_email">Username:</label>
              <div class="col-sm-7">
                <div class="input-group">
                  <span><i class="entypo-user"></i></span>
                  <span class="textbox">    <input type="text" name="username" value="" />

                  <br><br>
</span>
                </div>
              </div>
            </div>
  <div class="form-group">
              <label class="col-sm-4 control-label" for="user_password">Password:</label>
              <div class="col-sm-7">
                <div class="input-group">
                  <span><i class="entypo-key"></i></span>{{ form.password.errors }}
                  <span>    <input type="password" name="password" value="" /><br />

                  <br><br>
</span>
                </div>
              </div>
           
    <input type="hidden" name="this_is_the_login_form" value="1" />
    <input type="hidden" name="next" value="/admin/" />
  </div>
  
  {% if username and not username.is_anonymous %}
            <li><font color="#9999CC">{{ username.get_full_name|default:user.username }}</font>
            <ul><li><a href="{% url 'auth:logout' %}">LOGOUT</a></li></ul></li>
            {% else %}
            
            <div class="form-actions clearfix">
    <div class="controls col-sm-offset-2 col-sm-10">
      <input type="submit" value="Log in" class="btn btn-primary" />
    </div>
  </div>
  {% endif %}
  
  </div>
</form>

      <hr style="margin: 0">

      <div class="row">
        <div class="change_links">
          <span class="pull-left">
            <a href="{% url 'forgot-password' %}">Forgot your password?</a>
          </span>
          <span class="pull-right">
            Not a member yet ? &nbsp;
            <a href="{% url 'register' %}" class="footer_btn btn btn-green">Join us</a>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>


<!--Forgot Password Modal -->
<div class="modal fade" id="forgot_pwd_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title" id="myModalLabel">Sending reset password instructions</h3>
      </div>
      <div class="modal-body">
        <form accept-charset="UTF-8" action="{% url 'forgot-password' %}" class="form-inline" id="new_user" method="post">
        {% csrf_token %}
        <div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /><input name="authenticity_token" type="hidden" value="M6DXEUp0tv70UKNdtD5R/4FKlVdyq8ULLgW10YYyMCM=" /></div>
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon"><i class="entypo-mail"></i></span>
              <span><input class="form-control" id="user_email" name="user[email]" placeholder="Email" required="required" size="30" type="email" /></span>
            </div>
          </div>

          <input class="btn btn-submit-btn" id="resend_pwd_btn" name="commit" type="submit" value="Send" />

</form>      </div>
    </div>
  </div>
</div>
      </div>
    </div>
    <!--End page-->
    
  </div>
  
</body>
{% endblock %}
</html>