{% load i18n %}
{% load staticfiles %}
{% block breadcrumbs %}
<div class="breadcrumbs" align="right">
<font size="4">
<a href="{% url 'main' %}">{% trans 'BlogAsh' %}</a></font>
&rsaquo; {% trans 'Password Reset Successfull' %}
</div>
{% endblock %}
<head>


<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>

{% block content %}
<center>
<h3>
<p>Your password has been set.  You may go ahead and log in now.</p>
<p>Please <a href="{% url 'login' %}">Log in</a> here.</p></h3>
</center>
{% endblock %}
