{% load i18n %}
{% load staticfiles %}
{% block breadcrumbs %}
<div class="breadcrumbs" align="right">
<font size="4">
<a href="{% url 'main' %}">{% trans 'BlogAsh' %}</a></font>
&rsaquo; {% trans 'Password reset' %}
</div>
{% endblock %}
<head>
<link href="{% static 'css/sk.css' %}" rel="stylesheet" type="text/css">

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>

{% block content %}
<center>
<p><h4>{% trans "Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one." %}</h4></p><br>
<form action="{% url 'password_reset' %}" method="post">{% csrf_token %}
<font color="red">{{ form.email.errors }}</font>
<p><label for="id_email">{% trans 'Email address:' %}</label>   {{ form.email }}<br><br>

<input type="submit" class="btn btn-info" value="{% trans 'Reset my password' %}" /></p>
</form>
</center>
{% endblock %}

